<h1>Stupid Coaching</h1>

<div class="your-container">
 <h4><%= @question %></h4>
 <h4>- You</h4>
</div>

<div class="coach-container">
 <h4><%= @answer %></h4>
 <h4>- Your Coach</h4>
</div>


<%= link_to "Ask another question", ask_path %>