<h1>Stupid Coaching</h1>

<div class="question-container">
<%= @question %>
<p>-You</p>
</div>

<div class="coach-container">
<%= @answer %>
<p>-Your Coach</p>
</div>


<%= link_to "Ask another question", ask_path %>