<h1>Ask the Coach</h1>

<h2>Ask your coach anything:</h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Ask a question to the Coach" class="placeholder">
  <input type="submit" value="Ask!" class="submit-button">
</form>

