// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-button {
 background-color: #007bff;
 color: white;
 border-radius: 4px;
 height: 35px;
 width: 60px;
}

.placeholder {
 height: 30px;
 width: 30%;
 border-radius: 4px;
}

a {
 text-decoration: none;
 color: #75a4d0;
 &:hover {
   color: black;
 }
}

h1 {
 font-family: monospace;
 font-size: 40px;
}

h2 {
 font-family: monospace;
 font-size: 25px;
 font-weight: 300;
}

.your-container {
 border-left: solid gray 5px;
 margin-top: 25px;
 padding: 8px;
}

.coach-container {
 border-left: solid gray 5px;
 margin-top: 25px;
 margin-bottom: 25px;
 padding: 8px;
 background-color: #ffffe1;
}